.userform {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 30px;
}

.userfield {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 10px;

    flex-wrap: wrap;
}

.userfield>label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 0px;
        flex-basis: 0px;
    max-width: 170px;
    text-align: left;
    white-space: nowrap;
}

.userfield>* {
    -webkit-box-flex: 1;
        -ms-flex: 1 220px;
            flex: 1 220px;
}

textarea {
  resize: none;
  min-height: 100px;
}
