#bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mission {
  margin: 0 -15px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mission>div {
  margin: 0 20px;

  -webkit-box-flex: 1 1 0;
    -ms-flex: 1 1 0;
        flex: 1 1 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mission>div>img {
  height: 150px;
}

#mission>div>p {
  font-size: 1.2em;
}

#mission_statement {
  margin-top: 0px;
  text-align: center;
}

#founder {
  width: 325px;
}

#founder_name {
  margin-top: 0px;
}

#title {
  font-size: 1.1em;
  margin-top: 0px;
}
