/* SHARED STYLES */

html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2d3b53;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}

label {
  color: #2d3b53;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: 	#5c89d6;
}

input,textarea {
  min-height: 25px;
  min-width: 150px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  color: #2d3b53;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  padding: 4px;
  padding-left: 6px;
  box-shadow:none;
}

:required {
    border-color: #CCCCCC;
}

button, .button {
  -webkit-appearance:none;
  min-width: 150px;
  min-height: 35px;
  border: none;
  background-color: #3f5374;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 15px;
  text-align: center;
  margin-left: 0;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

.button:hover {
  background-color: #6a84af;
}

.load {
    cursor: wait;
}

body>header {
  background-color: #3e5274;
  font-family: 'Open Sans', sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
        justify-content: space-between;
}

body>header>a>img {
  max-width: 250px;
  min-width: 150px;
  vertical-align: middle;
  margin: 10px 0px 10px 10%;
}

body>header>nav {
  background-color: #3e5274;
  margin-right: 5%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body>header>nav>a {
  text-decoration: none;
  color: white;
  margin: 0px 10px;
  font-size: 1.2em;

  /*Prevent highlighting */
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.main {
  width: 100%;
  min-height:100%!important;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main>div {
  -webkit-box-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
        flex: 1 0 auto;

  padding: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main>div>p {
  font-size: 1.2em;
  max-width: 70%;
}

.main>div:nth-child(odd) {
  background-color: #f2f2f2;
}

body>footer {
  padding: 5px 0px;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3e5274;
  color: white;
  height: auto;
  font-family: 'Open Sans', sans-serif;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body>footer>a>img{
    max-width: 200px;
    min-width: 150px;
    margin: 10px;
}

/*
    MODAL
*/

#MODALWRAPPER {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

#MODAL {
    z-index: 9999;
    background-color: #FFF;
    width: 50%;
    height: auto;
    max-height: 50%;
    -webkit-transform: translateY(35vh);
        -ms-transform: translateY(35vh);
            transform: translateY(35vh);
    margin: auto;
    cursor: initial;
    border-radius: 1px;

    overflow-y: scroll;
}

#MODAL span {
    font-weight: bold;
}

#MODAL>div {
    padding: 20px;
}

#MODAL>header {
    height: 25px;
    padding: 10px 20px;
    background-color: #3f5374;
    color: #FFFFFF;
    vertical-align: middle;
    line-height: 25px;
    font-weight: bold;
    font-size: 18px;
}

#MODAL>footer {
    border-top: 1px solid #3f5374;
    padding: 10px 20px;
    overflow: hidden;
}

#MODAL>footer>.cancelButton {
    float: right;
}

@media all and (max-width: 600px) {
    #MODAL {
        width: 95%;
    }
}

/* Mobile-friendly */
@media only screen and (max-width: 700px) {

  p {
    font-size: 1em!important;
  }

  h1, h2 {
    font-size: 1.1em!important;
  }


  .button {
    font-size: 1em!important;
  }

  body>header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
        justify-content: center!important;
  }

  body>header>a>img {
    margin-left: auto!important;
    margin-right: auto!important;
  }

  body>header>nav {
    width: 100%!important;
    padding: 5px 0px!important;
    margin: 0!important;
    background-color: #506a95!important;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  body>header>nav>a {
    font-size: 1em!important;
  }

  body>footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
            justify-content: center!important;
  }

  body>footer>a>img {
    margin-left: auto!important;
    margin-right: auto!important;
  }
}
